$blue: #00b4ff;

@import 'normalize';
@import 'base';

body {
  max-width: 100%;
}

.site-main {
  max-width: 900px;
  margin: 0 auto;
}

.site-nav a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.hero {
  text-align: center;
  h2 {
    font-size: 22px;
    font-weight: 200;
    span {
      color: $blue;
    }
  }
  .btn {
    background: $blue;
  }
}

hr {
  border-color: rgba(193,199,208,0.3);
  width: 65%;
  margin: 3em auto;
}

a {
  cursor: pointer;
  color: $blue;
  text-decoration: underline;
  h1 {
    color: #515554
  }
}
